:root {
  --background: #fff;
  --border: #ccc;
  --text: #222;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body, html, #root {
  height: 100%;
  background-color: var(--back);
  color: var(--text);
  scrollbar-color: var(--border) transparent;
}

h1, h2, h3, h4, h5, p, button, input, span, div, a, textarea, select {
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 1px solid var(--border);
  background-color: transparent;
  cursor: pointer;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

.small-text {
  font-size: 0.95rem;
}
.med-text {
  font-size: 1.1rem;
}
.big-text {
  font-size: 1.2rem;
}
.bigger-text {
  font-size: 1.5rem;
}